<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kims Cleaners.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED8A82620DC3ACE008C9D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED8A83D20DC3ACF008C9D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED8A84820DC3ACF008C9D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
